{
  "env": {
    "main": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": { "node": "12" }
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties"
      ]
    },
    "development": {
      "presets": ["react-app"]
    },
    "production": {
      "presets": ["react-app"]
    }
  }
}
