[submodule "BlinkMind"]
    path = src/blink-mind
    url = git@github.com:awehook/blink-mind.git
    branch = master

[submodule "src/roosterjs"]
	path = src/roosterjs
	url = git@github.com:awehook/roosterjs.git
	branch = my
