.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  .title {
    font-size: 40px;
  }

  .container {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .group {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        .icon {
          font-size: 80px;
        }

        cursor: pointer;
        &:hover {
          color: #2cb892;
        }
      }
    }
  }
}
