@import "../blink-mind/packages/renderer-react/src/components/var";
.mindmap {
  width: 100%;
  height: 100%;
}

.full {
  width: 100%;
  height: 100%;
}

.titlebar {
  background: map_get($light-colors,'toolbar-bg') !important;
  //color: map_get($light-colors,'text') !important;
  .bp3-dark & {
    background: map_get($dark-colors,'toolbar-bg') !important;
    color: map_get($dark-colors,'text') !important;
  }
}

#root {
  // 由于在windows系统上定制菜单
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
}

.bm-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  .theme-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 750px;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: map_get($light-colors,'bg');
    border-top: solid 1px map_get($light-colors,'line');

    .bp3-dark & {
      background-color: map_get($dark-colors,'toolbar-bg');
      border-top: solid 1px map_get($dark-colors,'line');
    }
  }
}

.bmd-login {

  padding: 20px 10px;

  form {
    display: flex;
  }


}

.bmd-toolbar {
  background-color: map_get($light-colors, 'toolbar-bg');
  .bp3-dark & {
    background-color: map_get($dark-colors, 'toolbar-bg');
  }
  .bmd-title {
    .bmd-windows & {
      position: fixed;
      left: 50vw;
      top: 5px;
      z-index: 100000;
    }
    text-align: center;
    color: map_get($light-colors,'text-gray');
    .bp3-dark & {
      color: map_get($dark-colors,'text-gray');
    }
    padding-top: 5px;
    height: 20px;
  }
  display: flex;
  flex-direction: column;
  align-items: stretch;
  -webkit-user-select: none;
  .bmd-mac & {
    -webkit-app-region: drag;
  }
}



.bm-content-editable {
  min-height: 16px;
  min-width: 50px;
  white-space: pre-wrap;
}
